body {
  margin: 0;
}

button {
  background-color: #3DBB7C;
  border: 1px solid white;
  color: white;
  padding: 13px;
}

section {
  width: auto;
}

p {
  color: white;
  text-align: left;
  font-weight: 200;
  padding-left: 12px;
}

h1,
h3 {
  margin: 0;
  color: #FFFFFF;
  font-size: 12px;
}

main {
  position: absolute;
}

.download {
  height: 22px;
  width: 22px;
  margin: 0;
  margin-bottom: -6px;
}

.resume {
  margin-right: 8%; 
}

.i-sign {
  height: 22px;
  width: 22px;
  margin: 0;
  margin-bottom: -6px;
}

.intro {
  margin-top: 10%;
  text-align: left;
  padding-left: 12px;
  font-size: 17px;
  font-weight: 500;
}

.flex-grid {
  display: flex;
}

article {
  height: 217px;
  margin: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  width: 20%;
}

img {
  height: 22%;
  width: 25%;
  margin-top: 37%;
}

aside {
  text-align: right;
}

.top-quad {
  width: 40%;
  background-color: #3DBB7C;
  margin: 0;
}

.top-right-quad {
  background-color: #FD9D27;
  margin: 0;
}

.flex-grid .col {
  flex: 1;
}

.left-row-two {
  margin: 0;
  background-color: #278CC2;
  font-weight: lighter;
}

.mid-row-two {
  background-color: #EF5B4E;
}

.right-row-two {
  background-color: #3DBB7C;
}

.left-row-three {
  background-color: #F66932;
}

.mid-row-three {
  background-color: #278CC2;
}

.right-row-three {
  background-color: #F66932;
}

.profile-pic {
  margin: 0;
  position: absolute;
  z-index: -1;
  left: 60%;
  width: 40%;
  height: 651px;
}

.left,
.right {
  border-radius: 56%;
  position: absolute;
  font-size: 20px;
  background-color: #A7A7A7;
  padding: 12px;
}

.right {
  left: 95%;
  top: 55%;
}

.left {
  left: 61%;
  top: 55%;
}


@media only screen and (max-width: 812px) {
  main {
    position: static;
  }

  article {
    width: 33.3%;
  }

  .left {
    left: 1%;
    top: 187%;
  }

  .right {
    top: 187%;
    left: 90%;
  }

  .top-quad {
    width: 66.6%;
  }

  .profile-pic {
    width: 100%;
    position: static;
    text-align: left;
  }
}
